In [15]:
import pandas as pd
df = pd.read_csv("datasets/aapl_no_dates1.csv")
df.head()

     Open    High     Low   Close    Volume
0  144.88  145.30  143.10  143.50  14277848
1  143.69  144.79  142.72  144.09  21569557
2  143.02  143.50  142.41  142.73  24128782
3  142.90  144.75  142.90  144.18  19201712
4  144.11  145.95  143.37  145.06  21090636

In [16]:
rng = pd.date_range(start="7/1/2017", end="7/21/2017", freq='B')
rng

DatetimeIndex(['2017-07-03', '2017-07-04', '2017-07-05', '2017-07-06',
               '2017-07-07', '2017-07-10', '2017-07-11', '2017-07-12',
               '2017-07-13', '2017-07-14', '2017-07-17', '2017-07-18',
               '2017-07-19', '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='B')

Using 'B' frequency is not going to help because 4th July was holiday and 'B' is not taking that into account. It only accounts for weekends

# Using CustomBusinessDay to generate US holidays calendar frequency

In [17]:
from pandas.tseries.holiday import USFederalHolidayCalendar
from pandas.tseries.offsets import CustomBusinessDay

us_cal = CustomBusinessDay(calendar=USFederalHolidayCalendar())

rng = pd.date_range(start="7/1/2017",end="7/23/2017", freq=us_cal)
rng

DatetimeIndex(['2017-07-03', '2017-07-05', '2017-07-06', '2017-07-07',
               '2017-07-10', '2017-07-11', '2017-07-12', '2017-07-13',
               '2017-07-14', '2017-07-17', '2017-07-18', '2017-07-19',
               '2017-07-20', '2017-07-21'],
              dtype='datetime64[ns]', freq='C')

In [18]:
df.set_index(rng,inplace=True)
df.head()

              Open    High     Low   Close    Volume
2017-07-03  144.88  145.30  143.10  143.50  14277848
2017-07-05  143.69  144.79  142.72  144.09  21569557
2017-07-06  143.02  143.50  142.41  142.73  24128782
2017-07-07  142.90  144.75  142.90  144.18  19201712
2017-07-10  144.11  145.95  143.37  145.06  21090636