In [1]:
import pandas as pd
year = pd.Period('2016')
year

Period('2016', 'A-DEC')

In [3]:
year.start_time

Timestamp('2016-01-01 00:00:00')

In [4]:
year.end_time

Timestamp('2016-12-31 23:59:59.999999999')

In [5]:
m = pd.Period('2011-1', freq='M')
m

Period('2011-01', 'M')

In [6]:
m.start_time

Timestamp('2011-01-01 00:00:00')

In [7]:
m.end_time

Timestamp('2011-01-31 23:59:59.999999999')

In [8]:
m + 1

Period('2011-02', 'M')

In [12]:
d = pd.Period('2016-02-08', freq='D')
d

Period('2016-02-08', 'D')

In [13]:
d+1

Period('2016-02-09', 'D')

In [14]:
q = pd.Period('2017Q1')
q

Period('2017Q1', 'Q-DEC')

In [15]:
q+1

Period('2017Q2', 'Q-DEC')

In [19]:
idx = pd.period_range('2011', '2017', freq='q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
             '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
             '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
             '2017Q1'],
            dtype='period[Q-DEC]', freq='Q-DEC')

In [20]:
idx = pd.period_range('2011', periods=10, freq='q')
idx

PeriodIndex(['2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
             '2012Q3', '2012Q4', '2013Q1', '2013Q2'],
            dtype='period[Q-DEC]', freq='Q-DEC')

# Processing Wal Mart's Financials

In [29]:
import pandas as pd
df = pd.read_csv("datasets/wmt.csv", index_col="Line Item")
df

           2017Q1  2017Q2  2017Q3  2017Q4  2018Q1
Line Item
Revenue    115904  120854  118179  130936  117542
Expenses    86544   89485   87484   97743   87688
Profit      29360   31369   30695   33193   29854

In [30]:
df = df.T
df

Line Item  Revenue  Expenses  Profit
2017Q1      115904     86544   29360
2017Q2      120854     89485   31369
2017Q3      118179     87484   30695
2017Q4      130936     97743   33193
2018Q1      117542     87688   29854

In [31]:
df.index

Index(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='object')

In [34]:
df.index = pd.PeriodIndex(df.index, freq="Q-JAN")
df.index

PeriodIndex(['2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1'], dtype='period[Q-JAN]', freq='Q-JAN')

In [35]:
df["Start Date"]=df.index.map(lambda x: x.start_time)
df

Line Item  Revenue  Expenses  Profit Start Date
2017Q1      115904     86544   29360 2016-02-01
2017Q2      120854     89485   31369 2016-05-01
2017Q3      118179     87484   30695 2016-08-01
2017Q4      130936     97743   33193 2016-11-01
2018Q1      117542     87688   29854 2017-02-01

In [36]:
df["End Date"]=df.index.map(lambda x: x.end_time)
df

Line Item  Revenue  Expenses  Profit Start Date                      End Date
2017Q1      115904     86544   29360 2016-02-01 2016-04-30 23:59:59.999999999
2017Q2      120854     89485   31369 2016-05-01 2016-07-31 23:59:59.999999999
2017Q3      118179     87484   30695 2016-08-01 2016-10-31 23:59:59.999999999
2017Q4      130936     97743   33193 2016-11-01 2017-01-31 23:59:59.999999999
2018Q1      117542     87688   29854 2017-02-01 2017-04-30 23:59:59.999999999