In [1]:
import pandas as pd

In [26]:
df = pd.read_csv("datasets/weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [27]:
rows, columns = df.shape
rows

6

In [28]:
columns

4

In [29]:
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [30]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [31]:
df.event

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [32]:
df.set_index('day', inplace=True)
df

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [33]:
df.loc['1/3/2017']

temperature      28
windspeed         2
event          Snow
Name: 1/3/2017, dtype: object

In [35]:
df.reset_index(inplace=True)
df

   index       day  temperature  windspeed  event
0      0  1/1/2017           32          6   Rain
1      1  1/2/2017           35          7  Sunny
2      2  1/3/2017           28          2   Snow
3      3  1/4/2017           24          7   Snow
4      4  1/5/2017           32          4   Rain
5      5  1/6/2017           31          2  Sunny

In [36]:
df.set_index("event", inplace=True)
df

       index       day  temperature  windspeed
event
Rain       0  1/1/2017           32          6
Sunny      1  1/2/2017           35          7
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7
Rain       4  1/5/2017           32          4
Sunny      5  1/6/2017           31          2

In [37]:
df.loc['Snow']

       index       day  temperature  windspeed
event
Snow       2  1/3/2017           28          2
Snow       3  1/4/2017           24          7

In [39]:
df.reset_index(inplace=True)

In [40]:
df["temperature"].max()

35

In [41]:
df["temperature"].min()

24

In [42]:
df["temperature"].median()

31.5

In [43]:
df["temperature"].mean()

30.333333333333332

In [44]:
df["temperature"].std()

3.8297084310253524

In [45]:
df.describe()

          index  temperature  windspeed
count  6.000000     6.000000   6.000000
mean   2.500000    30.333333   4.666667
std    1.870829     3.829708   2.338090
min    0.000000    24.000000   2.000000
25%    1.250000    28.750000   2.500000
50%    2.500000    31.500000   5.000000
75%    3.750000    32.000000   6.750000
max    5.000000    35.000000   7.000000

In [46]:
df[df["temperature"] >= 32]

   event  index       day  temperature  windspeed
0   Rain      0  1/1/2017           32          6
1  Sunny      1  1/2/2017           35          7
4   Rain      4  1/5/2017           32          4

In [47]:
df[["day", "temperature"]][df.temperature == df.temperature.max()]

        day  temperature
1  1/2/2017           35